.delete-list {
	width: 350px;
	display: flex;
	flex-direction: column;
	background: var(--app-bg), var(--card-bg) !important;
}

.header {
	display: flex;
	align-items: center;
	height: 52px;
	padding-left: 16px;
	padding-right: 12px;
	justify-content: space-between;
	border-bottom: var(--card-border);
}

.title {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-semibold);
}

.buttons-wrapper {
	display: flex;
	align-items: center;
	gap: var(--spacing-sm);
	padding: var(--spacing-lg) var(--spacing-md);
	border-top: var(--card-border);
}

.content {
	height: 156px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.list-heading {
	display: flex;
	align-items: center;
	gap: var(--spacing-md);
}

.emoji-wrapper {
	width: 48px;
	height: 48px;
	background: var(--light-bg);
	border-radius: var(--radius-sm);
	display: flex;
	align-items: center;
	justify-content: center;
}

.emoji-wrapper span {
	font-size: 19px;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
}

.name {
	font-size: var(--font-size-lg);
}

.count {
	font-size: var(--font-size-sm);
	color: var(--text-light);
}

.warning-text {
	font-size: var(--font-size-lg);
	color: var(--text-light);
}
