.filters-panel {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.header {
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 var(--spacing-lg);
}

.title {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-semibold);
}

.filter-icon {
	width: var(--icon-size-lg);
	height: var(--icon-size-lg);
}

.filter-icon path {
	fill: var(--text-bright);
}
