.list-panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-bottom: var(--spacing-md);
}

.header {
	padding: var(--spacing-xl);
	padding-bottom: var(--spacing-lg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: fit-content;
	width: 100%;
}

.list-heading {
	display: flex;
	align-items: center;
	gap: var(--spacing-md);
}

.emoji-wrapper {
	width: 48px;
	height: 48px;
	background: var(--light-bg);
	border-radius: var(--radius-sm);
	display: flex;
	align-items: center;
	justify-content: center;
}

.emoji-wrapper span {
	font-size: 19px;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
}

.name {
	font-size: var(--font-size-lg);
}

.count {
	font-size: var(--font-size-sm);
	color: var(--text-light);
}

.controls-wrapper {
	display: flex;
	align-items: center;
	gap: var(--spacing-sm);
}

.more-container {
	position: relative;
}

.more-menu-wrapper {
	position: absolute;
	top: 38px;
	z-index: 99;
}
