.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 58px;
	padding: 0 var(--spacing-xl);
	overflow: visible !important;
}

.nav-items-wrapper {
	display: flex;
	align-items: center;
	gap: 24px;
}

.nav-items-wrapper a {
	cursor: auto;
}

.nav-item {
	display: flex;
	align-items: center;
	gap: var(--spacing-sm);
	color: var(--text-lighter);
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-xl);
}

.nav-item svg {
	width: var(--icon-size-lg);
	height: var(--icon-size-lg);
}

.nav-item svg path {
	fill: var(--text-lighter);
}

.selected {
	color: var(--text-bright);
}

.selected svg path {
	fill: var(--text-bright);
}

.avatar {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: grid;
	place-content: center;
	background: linear-gradient(180deg, #821ee5 0%, #20007b 100%);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.avatar-initials {
	font-size: 18px;
}

.more-container {
	position: relative;
}

.more-menu-wrapper {
	position: absolute;
	right: 0;
	top: 40px;
	z-index: 102;
}
