.similar-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  padding: var(--spacing-xl);
  padding-bottom: var(--spacing-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  height: 68px;
  border-bottom: var(--card-border);
  /* background: var(--light-bg); */
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.header-title {
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  margin-left: var(--spacing-sm);
}

.add-button,
.remove-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--text-bright);
  color: var(--text-dark);
  height: 40px;
  padding: 0 16px;
  border-radius: 100px;
}

.add-button:active {
  background-color: var(--text-bright-active);
}

.add-button span,
.remove-button span {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
}

.add-icon .remove-icon {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

.add-icon path {
  fill: var(--text-dark);
}

.remove-button {
  background: var(--light-bg);
  color: var(--text-bright);
}

.remove-button:active {
  background: var(--light-bg-active);
}

.remove-icon path {
  fill: var(--text-bright);
}

.loader-wrapper,
.add-movie-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.add-movie-wrapper {
  color: var(--text-light);
  font-size: var(--font-size-lg);
}

.movie-header-wrapper {
  border-bottom: var(--card-border);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}

.similars {
  padding: 8px 0;
}
