.your-lists-panel {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-bottom: var(--spacing-xl);
}

.header {
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 var(--spacing-xl);
	flex-shrink: 0;
}

.title {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-semibold);
}

.play-icon {
	width: var(--icon-size-lg);
	height: var(--icon-size-lg);
}

.play-icon path {
	fill: var(--text-bright);
}

.lists-container {
	padding: 0 var(--spacing-sm);
	overflow-y: scroll;
}

.lists-wrapper {
	padding-bottom: 64px;
}
