.dashboard-page {
	display: flex;
	height: 100%;
	gap: var(--spacing-sm);
	padding: var(--spacing-sm);
}

.left-section,
.right-section,
.center-section {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--spacing-sm);
	flex-shrink: 0;
}

.left-section,
.right-section {
	width: 286px;
	max-width: 320px;
}

.center-section {
	flex: 1;
}

.modal-container {
	position: fixed;
	z-index: 999;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 256px 56px rgba(0, 0, 0, 1);
	visibility: hidden;
	opacity: 0;
	transition: 0.25s ease opacity;
	display: grid;
	place-content: center;
}

.show-modal-container {
	visibility: visible;
	opacity: 1;
}
