.loading-wrapper {
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 8px;
}

.content-container {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	--side-padding: 24px;
}

.content-container > div {
	border-bottom: var(--card-border);
}

.content-container > div:last-child {
	border-bottom: none;
}

.poster {
	aspect-ratio: 134 / 225;
	width: 120px;
	background-color: var(--image-bg);
	border: var(--card-border);
	border-radius: var(--radius-sm);
	background-image: url('/bluebeetle.jpeg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.main {
	padding: var(--side-padding);
	display: flex;
	gap: var(--side-padding);
	align-items: center;
}

.main-right {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.movie-title {
	font-size: 24px;
	font-weight: var(--font-weight-semibold);
}

.movie-meta-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

.tag {
	font-size: 10px;
	background: var(--light-bg);
	border-radius: 6px;
	border: var(--card-border);
	padding: 6px;
	line-height: 0.8;
}

.meta-text {
	font-size: var(--font-size-md);
	color: var(--text-light);
}

.dot {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: var(--text-light);
}

.movie-meta-2-wrapper {
	display: flex;
	align-items: center;
	gap: 14px;
}

.separator {
	width: 1px;
	height: 18px;
	background-color: var(--text-lighter);
}

.movie-meta-2-wrapper span {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-semibold);
}

.country-wrapper span {
	font-weight: var(--font-weight-medium);
}

.country-wrapper .flag {
	font-size: 22px;
}

.rt-wrapper,
.imdb-wrapper,
.country-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

.rt-wrapper img {
	height: 20px;
}

.trailer-button {
	height: 32px;
	width: 130px;
	border-radius: var(--radius-sm);
	color: var(--text-dark);
	background-color: var(--text-bright);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-semibold);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.trailer-button:active {
	background-color: var(--text-bright-active);
}

.trailer-button:disabled {
	opacity: var(--disabled-opacity);
}

.trailer-button:disabled:active {
	background-color: var(--text-bright);
}

.play-icon {
	width: 18px;
	height: 18px;
}

.play-icon path {
	fill: var(--text-dark);
}

.synopsis {
	display: flex;
	flex-direction: column;
	padding: var(--side-padding);
	gap: var(--spacing-sm);
}

.section-title {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-semibold);
}

.normal-text {
	color: var(--text-light);
}

.info-items {
	display: flex;
	padding: var(--side-padding);
	gap: var(--side-padding);
	overflow-x: scroll;
	flex-shrink: 0;
}

.info-item {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.info-item span {
	flex-shrink: 0;
	white-space: nowrap;
}

.top-cast {
	padding: var(--side-padding) 0;
	padding-bottom: 0;
}

.top-cast .section-title {
	margin-left: var(--side-padding);
}

.cast-wrapper {
	display: flex;
	margin-top: 16px;
	padding: var(--side-padding);
	padding-top: 0;
	gap: var(--side-padding);
	overflow-x: scroll;
}
