.grid-container {
	/* overflow-y: scroll; */
	padding: 0 var(--spacing-sm);
	border-radius: var(--radius-lg);
}

.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: var(--spacing-lg) 4px;
	padding-bottom: 32px;
}

.loader-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
}

.empty {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-light);
}

@media (max-width: 1300px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 1170px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
