.movie-modal {
	width: 650px;
	max-height: 80vh;
	display: flex;
	flex-direction: column;
	background: var(--app-bg) var(--card-bg) !important;
	--side-padding: 24px;
}

.header {
	display: flex;
	align-items: center;
	height: 52px;
	flex-shrink: 0;
	padding-left: 16px;
	padding-right: 12px;
	justify-content: space-between;
	border-bottom: var(--card-border);
}

.title {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-semibold);
}
