.loading-wrapper {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}

.content-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  --side-padding: 24px;
}

.content-container > div {
  border-bottom: var(--card-border);
}

.content-container > div:last-child {
  border-bottom: none;
}

.synopsis {
  display: flex;
  flex-direction: column;
  padding: var(--side-padding);
  gap: var(--spacing-sm);
}

.section-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.normal-text {
  color: var(--text-light);
}

.info-items {
  display: flex;
  padding: var(--side-padding);
  gap: var(--side-padding);
  overflow-x: scroll;
  flex-shrink: 0;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info-item span {
  flex-shrink: 0;
  white-space: nowrap;
}

.top-cast {
  padding: var(--side-padding) 0;
  padding-bottom: 0;
}

.top-cast .section-title {
  margin-left: var(--side-padding);
}

.cast-wrapper {
  display: flex;
  margin-top: 16px;
  padding: var(--side-padding);
  padding-top: 0;
  gap: var(--side-padding);
  overflow-x: scroll;
}
