.poster {
  aspect-ratio: 134 / 225;
  width: 130px;
  background-color: var(--image-bg);
  border: var(--card-border);
  border-radius: var(--radius-sm);
  background-image: url("/bluebeetle.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.main {
  padding: var(--side-padding);
  display: flex;
  gap: var(--side-padding);
  align-items: center;
  flex-shrink: 0;
}

.main-right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.movie-title {
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  line-height: 1.15;
}

.movie-meta-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}

.tag {
  font-size: 10px;
  background: var(--light-bg);
  border-radius: 6px;
  border: var(--card-border);
  padding: 6px;
  line-height: 0.8;
}

.meta-text {
  font-size: var(--font-size-md);
  color: var(--text-light);
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--text-light);
}

.movie-meta-2-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.controls-wrapper {
  display: flex;
  gap: 6px;
}

.separator {
  width: 1px;
  height: 18px;
  background-color: var(--text-lighter);
}

.movie-meta-2-wrapper span {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.country-wrapper span {
  font-weight: var(--font-weight-medium);
}

.country-wrapper .flag {
  font-size: 22px;
}

.rt-wrapper,
.imdb-wrapper,
.country-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rt-wrapper img {
  height: 20px;
}

.trailer-button {
  height: 32px;
  width: 130px;
  border-radius: var(--radius-sm);
  color: var(--text-dark);
  background-color: var(--text-bright);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.trailer-button:active {
  background-color: var(--text-bright-active);
}

.trailer-button:disabled {
  opacity: var(--disabled-opacity);
}

.trailer-button:disabled:active {
  background-color: var(--text-bright);
}

.play-icon {
  width: 18px;
  height: 18px;
}

.play-icon path {
  fill: var(--text-dark);
}
